# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Passwords and secrets
secrets.yaml
*.pem

# Built-in configuration ignores
#automations.yaml
#scenes.yaml
#scripts.yaml

# Ignore vendored stuff
custom_components
image
www

.cache
.vscode
.HA_VERSION
.ha_run.lock
.cloud
.storage
.ssh
.shopping_list.json
tts

# CLAUDE
CLAUDE.md
.claude
.ha_mcp/feature_flags.json
.ha_mcp/logs/mcp_usage.jsonl
